.Header {
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    padding:20px 0 30px;
    width:100%;
    background:#555;
    text-align:center;
}
.ProjectTitle {
    color:#fff; 
    font-size:26px;
}
.Sort a {
    margin:0 8px;
    color:#e1e1e1;
}
.Sort .Active {
    color:#fff;
    font-weight:bold;
}