
html, body {
    height:100%;
}

#root {
    height:100%;
}

.App {
    padding-top:144px;
    font-size:14px;
}

.App--loading {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.Contents {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin:0 auto;
    padding:50px;
    max-width:1200px;
}